
* {
    text-align: start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'chomskyregular';
    src: url('assets/chomsky-8moa2-webfont.woff') format('woff2'),
         url('assets/chomsky-8moa2-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 50% 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1px;
    max-width: 100vw;
    margin: 0 auto;
    grid-template-areas:
        "nav nav nav nav nav"
        /* "header header header header r-aside" */
        "l-aside main main main r-aside"
        "l-aside main main main r-aside"
        "l-aside main main main r-aside"
        "section section section section r-aside"
        "footer footer footer footer r-aside";
        
}
header, main, aside, section, footer {
    background: rgb(130, 130, 219);
    padding: 30px;
}

/* header{
    grid-area: header;
} */

main{
    grid-area: main;
}

.left-aside{
    grid-area: l-aside;
    /* position: relative;
    z-index: 1;
    top: -100px; */
}

nav{
    border-bottom: solid gray ;
    border-width: 1px;
    padding: 10px;
    width: 100%;
    height: auto;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.nav-button {
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
    color: cornsilk;
}

#nytimes-logo {
    font-family: 'chomskyregular', Arial, sans-serif; 
    font-size: 35px;
    font-weight: 400;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

.right-aside {
    grid-area: r-aside;
}

.title-header {
    font-style: italic;
    max-width: 25%;
    margin: 0 auto;
}

.main-img {
    max-height: 30%;
    max-width: 100%;
}

.top-article {
    max-width: 50%;
    margin: 20px auto;
}
article p {
    margin: 20px 0;
}

.diagrams {
    width: 70%;
    margin: 0 auto;
}

.diagrams-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 2px;
    width: 100%;
    margin-top: 10px;
}

.diagrams-container p img {
    width: 90%;
}